#######################
# SECRET KEY
#######################
SECRET_KEY=SECRET_KEY


#######################
# POSTGRES DB
#######################
SQL_DATABASE=SQL_DATABASE
SQL_USER=postgres
SQL_PASSWORD=1253
SQL_HOST=localhost
SQL_PORT=5432


#######################
# DEBUG
#######################
DEBUG=True


#######################
# HOSTS
#######################
ALLOWED_HOSTS=127.0.0.1,shinzofamily.uz,web,localhost
CSRF_TRUSTED_ORIGINS=https://shinzofamily.uz,http://127.0.0.1,http://localhost


######################
# PORTS
######################
PORT=1111
PORT_DB=5432


######################
# Cache
######################
CACHE_BACKEND=django.core.cache.backends.redis.RedisCache
REDIS_CACHE_URL=redis://redis:6379
CACHE_ENABLED=False
CACHE_TIMEOUT=120
CELERY_BROKER=redis://redis:6379/0
